{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="blog" data-scroll-reveal="enter top" >
      <figure>
        <ul>
          <a href="{% url 'User:loading' %}"><img src="{% static 'images/t01.jpg' %}"><span>Django个人博客开发</span></a>
        </ul>
        <p><a href="/">最近头条，朋友圈被各大新闻淹没，我该关心哪个？</a></p>
        <figcaption>最近，新闻头条先后被996、京东兄弟情破裂、视觉中国瞬间崩塌、马云豪宅发表看法增热度、宝马漏油事件等霸占。
但是在这些新闻的背后，有两个大新闻我却格外感兴趣，一个是贾跃亭再次起死回生，周鸿祎彻底抽离奇安信。


可能有人会嘲笑我，一个穷逼关心资本市场有卵用，不过我想说关心996看似和自己关系密切，但是又有卵用呢？
一样没卵用，在自己一无是处之前，关心什么是由个人好恶决定，其实都没什么卵用，学习更多的知识才是关键</figcaption>
      </figure>
      <figure>
        <ul>
          <a href="{% url 'User:floatpic' %}"><img src="{% static 'images/t02.jpg' %}"><span>诗情画意</span></a>
        </ul>
        <p><a href="/">生活笔录 | 你真的适合零基础跨专业转行吗</a></p>
        <figcaption>学习 `Python` 到现在你要是让我给你解释什么是面向对象，什么是类，什么是内存，什么垃圾回收，什么是异常处理
说实话我也给你讲不清，但是这并不妨碍我做项目。不要给我扯什么高段位程序员是什么样的我始终认为自己是一个
不折不扣的 Copier，也不认为未来我会继续从事编程，但是此刻身在其中我必须拿出作品，需则学，不需则弃。</figcaption>
      </figure>
      <figure>
        <ul>
          <a href="{% url 'User:loading' %}"><img src="{% static 'images/t03.jpg' %}"><span>破茧成蝶</span></a>
        </ul>
        <p><a href="/">生活笔录 | 我为什么选择Python</a></p>
        <figcaption>程序员一般有一个鄙视链：C++鄙视——&gt;JAVA鄙视——&gt;Python

其实最应该被鄙视的程序员应该是自己没设计过任何分布式存储方案，有的甚至连基本SQL优化知识都不懂，天天满嘴高并发的人；没有使用Python写过任何别人可以使用的工具，天天满嘴 Python运行效率低的人</figcaption>
      </figure>
    </div>
   <ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime"><span>01-10</span> <span>2020</span></time>
						<div class="cbp_tmicon"></div>
						<div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s" >
							<h2>分享29个无版权免费的高清图片视频素材网站</h2>
							 <p><span class="blogpic"><a href="/"><img src="{% static 'images/building.jpg' %}"></a></span>图片胜于文字，而视频更胜于图片，相比文字和图片，视频这种多媒体形式在有效吸引用户视线、增强用户理解等方面的能力是毋庸置疑的，我们也从读图时代过渡到了现在的视频时代，各种短视频应用以及在线直播蜂拥而至，在我们日常的工作学习中也不免会用到一些视频素材。</p>
                             <a href="{% url 'User:need1' %}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
						</div>
					</li>
						<li>
						<time class="cbp_tmtime" ><span>01-01</span> <span>2020</span></time>
						<div class="cbp_tmicon"></div>
						<div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s" >
							<h2>20+给程序员和网页设计师带来灵感和创意的赠品</h2>
							 <p><span class="blogpic"><a href="/"><img src="{% static 'images/linggan.jpg' %}"></a></span>今天继续给大家20多个梦幻赠品给所有的网页设计师和喜欢折腾网站的程序员童鞋。当然，这些全部是免费的资源。  这些资源里面包括了字体、js框架、html、psd素材、模板、教程等各种前端的所需要的东西。  当然，你可能还喜欢这些：   	100+精美的纹理图案素材矢量图免费下载  </p>
							 <a href="{% url 'User:need2' %}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
						</div>
					</li>
                    <li>
						<time class="cbp_tmtime" ><span>12-20</span> <span>2019</span></time>
						<div class="cbp_tmicon"></div>
						<div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s" >
							<h2>超全面！这可能是你见过最全的弹窗设计解析</h2>
							 <p><span class="blogpic"><a href="/"><img src="{% static 'images/tanchuang.jpg' %}"></a></span>弹窗，对于大家来说并不陌生。UI设计师在工作中，乃至日常App使用过程中，经常接触到形形色色的弹窗设计。今天这篇好文将让你对弹窗设计的理解更加透彻。 看完本文你会学到： 1. 什么是弹窗，弹窗的定义  2. 弹窗的分类以及他们各自的特征  3. 弹窗设计的思考和优化</p>
                             <a href="{% url 'User:need3' %}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
						</div>
					</li>
                    <li>
						<time class="cbp_tmtime" ><span>12-1</span> <span>2019</span></time>
						<div class="cbp_tmicon"></div>
						<div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s" >
							<h2>FOODIE FACTOR, 美食图片, 设计素材, 设计素材</h2>
							 <p><span class="blogpic"><a href="/"><img src="{% static 'images/smile.jpg' %}"></a></span>今天就给大家分享一个以美食为主题的图片网站：FOODIE FACTOR。  这个网站的美食图片都是高清的，看着就很美味，喜欢拍美食照到朋友圈的朋友一定要收藏这个网站。   FOODIE FACTOR是专门分享美食图片的网站，有蛋糕、水果、沙拉、咖啡等主题...</p>
                             <a href="{% url 'User:need4' %}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
						</div>
					</li>
                    <li>
						<time class="cbp_tmtime" ><span>11-20</span> <span>2019</span></time>
						<div class="cbp_tmicon"></div>
						<div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s" >
							<h2>为什么说10月24日是程序员的节日？</h2>
							 <p><span class="blogpic"><a href="/"><img src="{% static 'images/chengxuyuan.jpg' %}"></a></span>创立“程序员节”最早是来自俄文《计算机世界》（《Компьютерра》）出版社的主编德米特里·门德列留科（Дмитрий Мендрелюк）在1996年7月15日的想法，当时计划将节日命名为“计算机用户节”，定在每年9月份的第一个星期五，称之为“纯净的星期五</p>
                             <a href="{% url 'User:need5' %}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
						</div>
					</li>
                    <li>
						<time class="cbp_tmtime" ><span>11-1</span> <span>2019</span></time>
						<div class="cbp_tmicon"></div>
						<div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s" >
							<h2>MySQL数据库初学者指南：你必须知道的注意事项</h2>
							 <p><span class="blogpic"><a href="/"><img src="{% static 'images/mysql.jpg' %}"></a></span>数据库是大多数网站的重要组成部分。从简单的博客到复杂的电子商务网站，这些网站都由数据库来驱动运行。  如果你是一名Web开发人员，你肯定已经知道了很多关于MySQL数据库的基础知识：   	MySQL是一个开放源码的小型关联式数据库管理系统...</p>
                             <a href="{% url 'User:need6' %}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
						</div>
					</li>
                    <li>
						<time class="cbp_tmtime" ><span>10-20</span> <span>2019</span></time>
						<div class="cbp_tmicon"></div>
						<div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s" >
							<h2>10个程序员最喜欢的 HTML和CSS 等在线代码编辑器</h2>
							 <p><span class="blogpic"><a href="/"><img src="{% static 'images/code_editor.jpg' %}"></a></span>一般软件开发中必备的一样工具就是代码编辑器。传统的代码编辑器一般都是以软件安装包的形式安装到电脑里面，代码编辑保存后一般也是通过ftp或者svn等工具提交到服务器的（当然，像.NET开发中Microsoft Visual Studio这样强大的集成工具另说了。）</p>
                             <a href="{% url 'User:need7' %}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
						</div>
					</li>
					
				</ul>
  </div>
{% endblock %}
<footer>
Design by DanceSmile <a href="/">蜀ICP备11002373号-1</a>
</footer>
<script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		(function(){
			window.scrollReveal = new scrollReveal({reset: true});
		})();
	};
</script> 
</body>
</html>
