<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="gb2312">
    <title></title>
</head>
<body>
{#    文件上传   主要是原生 和JQuery     #}
    <h1>原生AJAX上传</h1>
    <input type="file" id="i1"/>
    <a onclick="upload1();">上传</a>
    <div id="container1"></div>

    <h1>JQuery Ajax上传文件</h1>
    <input type="file" id="i2"/>
    <a onclick="upload2();">上传</a>
    <div id="container2"></div>

    <h1>伪造 Ajax上传文件</h1>
    <form id="f1" method="POST" action="/app01/yuan_ajax/" target="ifr" enctype="multipart/form-data">
        <iframe id="ifr" name="ifr" style="display: none"></iframe>
        <input type="file" name ="fafafa"/>

        <a onclick="upload3();">上传</a>
    </form>
    <div id="container3"></div>


    <script src="/static/js/jquery-1.11.0.min.js"></script>
    <script>
        function upload1(){
            {#alert(123)#}

            var formdata = new FormData()

            formdata.append('k1','v1')
            formdata.append('fafafa',document.getElementById('i1').files[0])

            var xhr = new XMLHttpRequest()
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4){
                    var file_path = xhr.responseText
                    alert(file_path)
                    var tag = document.createElement('img')
                    tag.src = "/" + file_path
                    document.getElementById('container1').appendChild(tag)

                }
            }
            xhr.open("POST",'/app01/yuan_ajax/')
            {#xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded')#}
            xhr.send(formdata)
        }

        function upload2() {
            var formdata = new FormData()
            formdata.append('k1','v1');
            {#formdata.append('fafafa',document.getElementById('i2').files[0]);#}
            formdata.append('fafafa',$('#i2')[0].files[0])
            // $('#i2') --> $('#i2')[0]

            // document.getElementById('i1')   --> $(document.getElementById('i1'))

            $.ajax({
                url :"/app01/yuan_ajax/",
                type:"POST",
                data:formdata,
                contentType:false,
                processData:false,
                success:function(args) {
                    {#alert(args)#}
                    var tag = document.createElement('img')
                    tag.src = "/" + args
                    document.getElementById('container2').appendChild(tag)
                }
            })
        }

        function upload3() {
            document.getElementById('ifr').onload = loadIframe
            document.getElementById('f1').submit()
        }

        function loadIframe() {
            var content = document.getElementById('ifr').contentWindow.document.body.innerText;
            {#alert("1234567")#}
            var img_obj = document.createElement('img')
            img_obj.src = "/" + content
            document.getElementById('container3').appendChild(img_obj)
        }
    </script>
</body>
</html>