<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="gb2312">
    <title>学生班级</title>

    <style>
        .hide{
            display:none;
        }
        .shadow{
            position: fixed;
            left:0;
            top:0;
            right:0;
            bottom:0;
            background-color: black;
            opacity: 0.4;
            z-index: 999;
            /*z-index: 999;  值越大层级越高，越能看到*/
        }
        .modal{
            z-index: 1000;
            position: fixed;
            left:50%;
            top: 50%;
            height:300px;
            width:400px;
            background-color:white;
            margin-left: -200px;
            margin-top: -150px;

        }
        .deletecon{
            z-index: 1000;
            position: fixed;
            left:50%;
            top: 50%;
            height:300px;
            width:400px;
            background-color:white;
            margin-left: -200px;
            margin-top: -150px;

        }
        .editcon{
            z-index: 1000;
            position: fixed;
            left:50%;
            top: 50%;
            height:300px;
            width:400px;
            background-color:white;
            margin-left: -200px;
            margin-top: -150px;

        }

    </style>

</head>

<!--{% if messages %}-->
  <!--<script>-->
    <!--{% for msg in messages %}-->
        <!--alert('{{msg.message}}')-->
    <!--{% endfor %}-->
  <!--</script>-->
<!--{% endif %}-->


<body>
    <div>
        <a href="{% url 'User:addstudent' %}">添加</a>
        <a onclick="showModal();">对话框添加</a>
    </div>
    <table>
        <tr>
            <td>序号</td>
            <td>设计者名字</td>
            <td>时间</td>
            <td>内容</td>
            <td>操作</td>
        </tr>

        {% for item in message_result %}
            <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.date}}</td>
            <td>{{item.content}}</td>
            <td>
                <a onclick="showEdit(this);">对话框编辑</a>
                |
                <a onclick="showDelete(this);">对话框删除</a>
                |
                <a href="/user/edit_student/?nid={{item.id}}">编辑</a>
                |
                <a href="/user/del_student/?nid={{item.id}}">删除</a>
            </td>

            </tr>
        {% endfor %}

    </table>

    <div id ="shadow" class="shadow hide"></div>
    <!--遮罩层-->
    <div id ="modal" class="modal hide">
        <!--form会刷新，ajax不会刷新-->
        <!--modal层-->
        <!--用表单提交没法使用模态对话框-->
        <!--<form method="POST" action="/user/modal_addstudent/">-->
            <!--<p>-->
                <!--<input type="text" name="title"/>-->
            <!--</p>-->
            <!--<p>-->
                <!--<input type="text" name="title2"/>-->
            <!--</p>-->
            <!--<input type="submit" value="提交"/>-->
        <!--</form>-->
        <p>
            <input id="title" type="text" name="title"/>
        </p>
        <p>
            <input id="title2" type="text" name="title2"/>
        </p>
        <input type="button" value="提交" onclick="AjaxSend();"/> <span id="errormsg"></span>
        <input type="button" value="取消" onclick="cancleModal();"/>

    </div>


     <!--编辑对话框层级-->
    <div id ="editcon" class="editcon hide">
        <h3>编辑框</h3>

        <input type="text" id = "temp_edit_id" name="temp_del"  style="display: none"/>
        <input type="text" id = "temp_edit_name" name="temp_edit_name" />
        <input type="text" id = "temp_edit_content" name="temp_edit_content" />
        <input type="button" value="确定" onclick="AjaxEdit();"/>
        <input type="button" value="取消" onclick="cancleEdit();"/>

    </div>

    <!--编辑对话框层级-->


    <!--删除层级-->
    <div id ="deletecon" class="deletecon hide">
        <p>你是否要删除这条内容？</p>
        <input type="text" id = "temp_del" name="temp_del" style="display: none"/>
        <input type="button" value="删除" onclick="AjaxDelete();"/>
        <input type="button" value="取消" onclick="cancleDelete();"/>

    </div>

    <!--删除层级-->


    <script src="/static/js/jquery-1.11.0.min.js"></script>

    <script>

        function showEdit(ths) {
            document.getElementById("shadow").classList.remove("hide")
            document.getElementById("editcon").classList.remove("hide")
            var v = $(ths).parent().prevAll();
            var cur_id = $(v[3]).text()
            var cur_content = $(v[0]).text()
            var cur_name = $(v[2]).text()
            console.log(cur_id,cur_content)

            $('#temp_edit_name').val(cur_name)
            $('#temp_edit_content').val(cur_content)
            $('#temp_edit_id').val(cur_id)

        }

        function cancleEdit() {
             document.getElementById("shadow").classList.add("hide")
             document.getElementById("editcon").classList.add("hide")
        }


        function showModal() {
            document.getElementById("shadow").classList.remove("hide")
            document.getElementById("modal").classList.remove("hide")
        }

        // ajax偷偷的发
        function cancleModal(){
            document.getElementById("shadow").classList.add("hide")
            document.getElementById("modal").classList.add("hide")
        }

       function showDelete(ths) {
            document.getElementById("shadow").classList.remove("hide");
            document.getElementById("deletecon").classList.remove("hide");

           //  console.log(ths);
           //
           // console.log($(ths));
           //
           // console.log($(ths).parent());
            v = $(ths).parent().prevAll();
            console.log(v)

            var cur_id = $(v[3]).text()
            console.log(cur_id)
            $('#temp_del').val(cur_id)


       }

       function cancleDelete() {
            document.getElementById("shadow").classList.add("hide")
            document.getElementById("deletecon").classList.add("hide")
       }

        function AjaxEdit() {
            $.ajax({
                url:"/user/modal_addstudent2/",
                type:"POST",
                data:{"name":$("#temp_edit_name").val(),"cur_id":$("#temp_edit_id").val(), "content":$("#temp_edit_content").val()},
                success:function (data) {
                    console.log(data)
                    //JSON.parse(字符串) ==》对象
                    //JSON.stringify(对象) ==》字符串

                    transobj = JSON.parse(data)
                    console.log(transobj)

                    if (transobj.status){
                        // alert("编辑成功");
                        location.reload()
                    }
                    else{
                        alert(arg.message)
                    }
                }
            })
        }

       function AjaxDelete() {
           $.ajax({
               url:"/user/del_student2/",
               type:"POST",
               data:{'tgp':$('#temp_del').val()},

               success:function (data) {
                   if (data == "ok"){
                       location.reload()
                   }
               }

           })

       }


        //js 实现页面跳转： location.href = "www.baidu.com"
        function  AjaxSend() {
            $.ajax({
                url:'/user/modal_addstudent/',
                type:"POST",
                data:{'title':$('#title').val(),'title2':$('#title2').val()},

                // 等到服务端处理完了， 返回数据，success自动调用
                // data=服务端返回的值
                success:function(data){
                    console.log(data)
                    if (data == "ok"){
                        // alert("添加成功")
                        location.href = 'user/classes'
                    }
                    else{
                        // alert("添加失败")

                        $('#errormsg').text(data);
                    }


                }

            })

        }

    </script>

</body>
</html>