{% extends 'layout.html' %}

{% block css %}
   <style>
        .hide{
            display: none;
        }
        .shadow{
            position: fixed;    /*固定在浏览器的某个地方,相对于窗口来说的*/
            left: 0;
            right: 0;
            bottom:0;
            top: 0;             /*离上下左右窗口都是0*/
            background-color: black;
            opacity: 0.4;
            z-index : 999;
        }
        .add-modal{
            position: fixed;    /*固定在浏览器的某个地方,相对于窗口来说的*/
            left: 50%;
            top: 50%;             /*离上下左右窗口都是0*/
            width: 400px;
            height:300px;
            z-index : 1000;
            background-color: white;
            margin-left: -200px;
            margin-top: -200px;
        }

         .edit-modal{
            position: fixed;    /*固定在浏览器的某个地方,相对于窗口来说的*/
            left: 50%;
            top: 50%;             /*离上下左右窗口都是0*/
            width: 400px;
            height:300px;
            z-index : 1000;
            background-color: white;
            margin-left: -200px;
            margin-top: -200px;
        }

        .del_mode{
            position: fixed;
            left:50%;
            top:50%;
            z-index : 1888;
            background-color: white;
            width:400px;
            height:300px;
            margin-left : -200px;
            margin-top : -200px;
        }

    </style>
{% endblock %}

{% block xx %}
    <h1>学生列表</h1>
    <div>
        <a id="addModal2">对话框添加</a>
    </div>

    <table class = "table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>学生姓名</td>
            <td>所属班级</td>
            <td>操作</td>
        </tr>
        </thead>

        <tbody>
        {% for row in student_list %}
            <tr>
            <td>{{row.id}}</td>
            <td>{{row.name}}</td>
            <td clsid = "{{row.class_id}} ">{{row.cls_title}}</td>
            <!--<td>{{row.class_id}}</td>-->

            <td>
                <!--阻止默认事件的调用(url) onclick要加return返回值-->
                <a id ="editModal" class="btn_edit">对话框编辑</a>
                |
                <a onclick="showDelete(this);">对话框删除</a>
                |
                <a href="/user/edit_student_list/?nid={{row.id}}">编辑</a>
                |
            </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

<!--_______________________________________________________________________-->
    <div id= "shadow" class="shadow hide"></div>
    <div id= "addModal" class="add-modal hide">
        <p>
            姓名: <input id="addName" type="text" name="name" placeholder="姓名"/>
        </p>
        <p>
            班级:
            <select id="addClassid" name="classId">
                {% for row in class_list %}
                    <option value="{{ row.id }}">{{ row.cls_title }}</option>
                {% endfor %}
            </select>
        </p>
        <input id="btnAdd" type="button" value="添加"/>
        <input id="btncancle" type="button" value="取消"/>
    </div>

<!--_____________________________________________-->


<!--_______________________________________________________________________-->
    <div id= "editModal2" class="edit-modal hide">
        <h3>编辑学生信息</h3>
        <p>
            姓名: <input id="editName" type="text" name="name" placeholder="姓名"/>
            <input id="editId" type="text" style="display: none"/>

            <!--这里有个id名字报错，查了半天-->
        </p>
        <p>
            班级:
            <select id="editClassid" name="classId">
                {% for row in class_list %}
                    <option value="{{ row.id }}">{{ row.cls_title }}</option>
                {% endfor %}
            </select>
        </p>
        <input id="btnEdit" type="button" value="更新"/>
        <input id="btnback" type="button" value="返回"/>
    </div>


<!--___________________________________________________________-->
    <div id="delModal3" class="del_mode hide">
        <h3>删除当前的信息</h3>
        <p>你是想删除当前的信息吗？</p>
        <input id="test1" type="text" name="name" style="display: none"/>
        <input id="test2" type="text" name="name" style="display: none"/>
        <input id="btndel_now" type="button" value="删除"/>
        <input id="btncancle_now" type="button" value="取消"/>
    </div>


{% endblock %}

{% block js %}
     <script src="/static/js/jquery-1.11.0.min.js"></script>
    <script>
        // JQyery 也可以阻止后面时间发生 加return
        function showDelete(ths) {
            document.getElementById("shadow").classList.remove("hide");
            document.getElementById("delModal3").classList.remove("hide");
            // var tds = $(this).parent().prevAll()
            // console.log("bbb",tds)

             var tds = $(ths).parent().prevAll()
             var student_id = $(tds[2]).text();  //文本信息
             var student_name = $(tds[1]).text();
             var classzzID = $(tds[0]).attr('clsid')

             console.log(student_id,student_name,classzzID)

             $('#test1').val(parseInt(student_id));
             $('#test2').val(parseInt(classzzID));

        }

        $(function () {
            $("#btncancle").click(function () {
                $('#shadow,#addModal').addClass("hide");
            })
            $('#addModal2').click(function () {
                $('#shadow,#addModal').removeClass('hide');
                return false
            })

            $("#btncancle_now").click(function () {
                $("#delModal3,#shadow").addClass("hide")
            })

            $("#btndel_now").click(function () {
                // $("#delModal3,#shadow").addClass("hide")
                $.ajax({
                    url:"/user/del_student_nowlist/",
                    type:"POST",
                    data:{"del_pid":$("#test1").val(),'del_classid':$("#test2").val()},
                    dataType:"JSON",
                    success :function (arg) {
                         if (arg.status){
                            location.reload()
                        }
                        else{
                            console.log("error")
                        }
                    }
                })
            })


            $(".btn_edit").click(function () {
                $("#shadow, #editModal2").removeClass('hide')
                // 1.获取当前标签 $(this)

                var tds = $(this).parent().prevAll()
                var student_id = $(tds[2]).text();  //文本信息
                var student_name = $(tds[1]).text();
                var classzzID = $(tds[0]).attr('clsid')

                console.log(student_id,student_name,classzzID)
                $('#editId').val(parseInt(student_id));
                $("#editName").val(student_name);
                $("#editClassid").val(parseInt(classzzID));
                console.log($('#editId').val())



            })

            $("#btnback").click(function () {
                  $("#shadow, #editModal2").addClass('hide')
            })

            $("#btnEdit").click(function () {
                $.ajax({
                    url:"/user/update_add_student/",
                    type: "POST",
                    data:{'nid':$("#editId").val(),'name':$("#editName").val(),'class_id':$("#editClassid").val()},
                    dataType:"JSON",

                    success:function(arg) {
                        //JSON.pause
                        if (arg.status){
                            location.reload()
                        }
                        else{
                            $("#editError").text(arg.message)
                        }
                    }
                })
            })


            $('#btnAdd').click(function () {
                $.ajax({
                    url:"/user/modal_add_student/",
                    type:'POST',
                    data:{'name':$('#addName').val(),'class_id':$('#addClassid').val()},
                    dataType:"JSON",
                    success:function (arg) {
                        if (arg.status){
                            location.reload()
                        }
                        else{
                            console.log("error")
                        }

                    }
                })
            })
        })

    </script>
{% endblock %}