{% extends 'layout.html' %}

{% block css %}
    <style>
         .hide{
             display: none;
         }
        .shadow{
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: black;
            opacity: 0.4;
            z-index: 999;
        }
        .loading{
            position: fixed;
            width: 32px;
            height: 32px;
            left: 50%;
            top: 50%;
            margin-left: -16px;
            margin-top:-16px;
            background-image: url("/static/images/loding.gif");
        }
        .addteaper{
            position:fixed;
            left: 50%;
            top: 50%;
            width: 400px;
            height: 300px;
            background-color:white;
            z-index:1000;
            margin-left: -200px;
            margin-top: -150px;
        }
        .delteaper{
            position: fixed;
            z-index: 1000;
            background-color: white;
            width: 400px;
            height:300px;
            left:50%;
            top:50%;
            margin-left: -200px;
            margin-top:-150px;
        }

    </style>
{% endblock %}

{% block xx %}



    <h1>老师列表</h1>
    <div>
        <a id="addteacher">添加老师</a>
    </div>
    <div>
        <a id="addotherteacher">另一种添加老师</a>
    </div>
    <table border="1" class="table table-striped table-bordered table-hover">
        <tr>
            <td>ID</td>
            <td>老师姓名</td>
            <td>任教班级</td>
            <td>操作</td>
        </tr>

        {% for row in teacher_list %}
            <tr>
            <td>{{row.tid}}</td>
            <td>{{row.teacher_name}}</td>
            <td>
            {% for class in row.titles%}
                <span style="display:inline-block; padding: 5px; border: 1px solid red" >{{class}}</span>
            {% endfor %}
            </td>
            <!--<td>{{row.cls_title}}</td>-->
            <td>
                <a href="/user/edit_teacher/?nid={{row.tid}}">编辑</a>
                |
                <a onclick="showDelModal(this)">删除</a>
            </td>

            </tr>
        {% endfor %}
    </table>


    <div id="shadow" class="shadow hide"></div>

    <div id="loading" class="loading hide"></div>

    <div id="addteaper" class="addteaper hide">
        <input type="text" name="tea_name" id ="enter_name"/><br><br>
        <select name="perferssion" id ="preferssion_id" multiple size="10">
<!--            {% for row in class_list %}-->
<!--                <option value="{{row.id}}">{{row.cls_title}}</option>-->
<!--            {% endfor %}-->
<!--            使用Ajax 去请求数据，然后往select里面添加option-->
        </select>

        <input id="btn_add" type="button" name="btn_name" value="添加"/>
        <input id="btn_cancle" type="button" name="btn_name2" value="取消"/>
    </div>

    <div id="delteaper" class="delteaper hide">
        <h3>你确定删除这个老师吗?</h3>
        <input id="static1" type="text" name="static1" style="display: none">
        <input id="del_confirm" type="button" name="btn_name3" value="删除"/>
        <input id="del_cancle" type="button" name="btn_name3" value="取消"/>

    </div>


{% endblock %}

{% block js %}
    <script src="/static/js/jquery-1.11.0.min.js"></script>
    <script>
        $(function () {
           bindAdd()

        })

        function bindAdd(){
            $('#addotherteacher').click(function () {
                // 一点先让loding出现
                $("#shadow,#loading").removeClass('hide')

                // $("#shadow, #addteaper").removeClass('hide')
                $("#preferssion_id").empty()
                //或者$("#preferssion_id").find('option').remove()
                $.ajax( {
                    url: "/user/newadd_teacher/",
                    type:"GET",
                    dataType: "JSON",
                    success:function (arg) {
                        console.log(arg)
                        //将所有的数据添加到select,option,
                        $.each(arg,function (i,row) {
                            console.log(i)
                            console.log(row)
                            //将所有的数据添加到select,option

                            var tag = document.createElement('option');
                            tag.innerHTML = row.cls_title
                            tag.setAttribute('value',row.id)
                            $('#preferssion_id').append(tag)

                            $('#loading').addClass('hide')
                            $('#addteaper').removeClass('hide')
                        })

                    }


                })
            })
        }

        // $("#shanchu").click(function () {
        //     $("#shadow,#delteaper").removeClass('hide')
        // })


        function showDelModal(ths){
            $("#shadow,#delteaper").removeClass('hide')
            var qian_info = $(ths).parent().prevAll()
            // console.log("cc",qian_info)
            var cur_id = $(qian_info[0]).text()
            // console.log("cc2",cur_id)
            cur_id2 = $(qian_info[2]).text()
            tkp = parseInt(cur_id2)
            $("#static1").val(tkp)

        }

        $("#del_cancle").click(function () {
            $("#shadow,#delteaper").addClass('hide')
        })



        $("#addteacher").click(function () {
            $("#shadow, #addteaper").removeClass('hide')
        })

        $("#btn_cancle").click(function () {
            $("#shadow,#addteaper").addClass("hide")
        })


        $("#btn_add").click(function () {
            console.log("1234")
            var name_data = $("#enter_name").val()
            console.log(name_data)
            var class_data = $("#preferssion_id").val()
            console.log(class_data)

              $.ajax({
                  url:"/user/add_teachers/",
                  type:"POST",
                  data:{"name":name_data, "class_ids":class_data},
                  dataType:"JSON",
                  success:function (arg) {
                      console.log(arg)
                        if (arg.status){
                            location.reload()
                        }
                        else{
                            console.log("error")
                        }
                }
          })
        })

         $("#del_confirm").click(function () {
            var teacher_id = $("#static1").val()
             $.ajax({
                 url:"/user/del_teacher_info/",
                 type:"POST",
                 data:{"teacher_id":teacher_id},
                 dataType:"JSON",
                 success:function (arg) {
                     console.log(arg)
                     if (arg.status){
                         location.reload()
                     }
                     else{
                         console.log("error")
                     }
                     
                 }
             })
        })

    </script>
{% endblock %}